body,
html {
    font-family: "Open Sans", Arial, sans-serif;
}

.bg-black {
    background-color: black;
}

.text {
    font-size: 13px;
}

.mini-text {
    color: #000 !important;
    font-size: 20px;
    font-weight: 900 !important;
}

.same-a {
    color: #000 !important;
    font-size: 10px;
}

.navbar {
    background-color: #DBCC8F;
}

.subheading {
    background-color: #000000;
    font-size: 13px;
}

.add-h1 {
    color: #000000;
    font-size: 44px;
    line-height: 57px;
    font-weight: 300;
}

.bg-color-add {
    background-color: #DBCC8F;
}

.add-p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    line-height: 27px;
}

.model-img {
    height: 100%;
    width: 650px;
}

.btn-now {
    font-size: 15px;
    background-color: #c2a942;
}

.free-h3 {
    color: #000;
    font-size: 16px;
}

.free-p {
    color: #808080;
    font-size: 15px;
    line-height: 27px;
}

.service-img {
    font-size: 70px;
    color: #000;
}

.nike-h3 {
    color: #000;
    font-size: 14px;
}

.price-p {
    columns: #000000;
    font-size: 15px;
}

.add-to-cart {
    background-color: #000;
    font-size: 13px;
}

.buy-now {
    color: #000000;
    background-color: #ffffff;
    font-size: 13px;
}

.designer-card {
    position: relative;
}

.bottom-area {
    bottom: 150px;
    position: absolute;
    opacity: 0;
}

.bottom-area-d {
    bottom: 160px;
    position: absolute;
    opacity: 0;
}

.bg-color-img {
    background-color: #F0F0F0;
    position: relative;
    display: block;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    overflow: hidden;
}

.color-icon {
    color: #DBCC8F;
}

.add-to-cart:hover,
.buy-now:hover {
    color: #ffffff;
    background-color: #c2a942;
}

.crt-icon {
    color: #000;
}

.designer-body {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(8, 6, 89, 0.1);
    z-index: 5;
}

.cancel-dollar {
    color: #000;
}

.fix-dollar {
    color: #b3b3b3;
}

.cat {
    color: #b3b3b3;
    font-size: 13px;
}

.status {
    color: #000;
    background-color: #dbcc8f;
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    text-align: right;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.designer-card:hover .bottom-area,
.designer-card:hover .bottom-area-d {
    opacity: 1;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}

.designer-card:hover .designer-body {
    box-shadow: 0px 10px 20px 0px rgba(8, 6, 89, 0.1);
}

.bg-color-img {
    position: relative;
    overflow: hidden;
}

.image-big {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.designer-card:hover .image-big {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

.overlay {
    transform: translateY(-55%);
    border-radius: 50%;
}

.designer-card:hover .overlay {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 1;
    z-index: -1;
    background-color: #dbcc8f;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    transition: all 0.6s ease;
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .model-img {
        width: 100%;
    }
    .add-h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .add-p {
        font-size: 15px;
        line-height: 27px;
    }
}