body,
html {
    font-family: "Open Sans", Arial, sans-serif;
}

.bg-black {
    background-color: black;
}

.text {
    font-size: 13px;
}

.mini-text {
    color: #000 !important;
    font-size: 20px;
    font-weight: 900 !important;
}

.same-a {
    color: #000 !important;
    font-size: 10px;
}

.navbar {
    background-color: #DBCC8F;
}

.subheading {
    background-color: #000000;
    font-size: 13px;
}

.add-h1 {
    color: #000000;
    font-size: 44px;
    line-height: 57px;
    font-weight: 300;
}

.bg-color-add {
    background-color: #DBCC8F;
}

.add-p {
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    line-height: 27px;
}

.model-img {
    height: 100%;
    width: 650px;
}

.btn-now {
    font-size: 15px;
    background-color: #c2a942;
}

.free-h3 {
    color: #000;
    font-size: 16px;
}

.free-p {
    color: #808080;
    font-size: 15px;
    line-height: 27px;
}

.service-img {
    font-size: 70px;
    color: #000;
}

@media only screen and (min-width: 320px) and (max-width:480px) {
    .model-img {
        width: 100%;
    }
    .add-h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .add-p {
        font-size: 15px;
        line-height: 27px;
    }
}